@charset "UTF-8";
/*----------------------------
スマホ用表示
-------------------------------*/
/*----------------------------
common - 全体に共通するスタイル
-------------------------------*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #3E3E3E;
  font-family: "游ゴシック体", serif;
  line-height: 1.6875;
  background: #F3F3F3;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0  auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.inner-inner {
  max-width: 1200px;
  margin: 0  auto;
  padding: 0 160px;
}

/*----------------------------
header
-------------------------------*/
.header {
  background: #FFFFFF1A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    background: #FFFFFF;
  }
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
}

.header .drawer-hamburger-icon {
  background-color: #3E3E3E;
  height: 5px;
  border-radius: 2px;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #3E3E3E;
  height: 5px;
  border-radius: 2px;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 160ox;
  font-size: 23px;
  font-family: Montserrat;
  font-weight: bold;
  height: 83px;
  line-height: 83px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    height: 68px;
    line-height: 68px;
  }
}

.header-nav {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    top: 60px;
    background-color: #FFFFFF1A;
    padding: 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav-item + .header-nav-item {
  margin-left: 46px;
}

.header-nav-item .header-nav-item-link {
  display: block;
  color: #3E3E3E;
  height: 83px;
  line-height: 83px;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-nav-item .header-nav-item-link:hover {
  color: #3B69FF;
}

@media screen and (max-width: 767px) {
  .header-nav-item .header-nav-item-link {
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 68px;
    line-height: 68px;
  }
}

/*=====================================================================================================================
main
========================================================================================================================*/
/*----------------------------
common
-------------------------------*/
@media screen and (max-width: 767px) {
  .main {
    padding-top: 68px;
    overflow: hidden;
  }
}

.section {
  margin-top: 180px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

/*----------------------------
util
-------------------------------*/
.util-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  font-family: Montserrat;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.util-link-yellow {
  font-size: 18px;
  letter-spacing: .1em;
  color: #fff;
  background: #FFAA3B;
  display: inline-block;
  padding: 12px 56px;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  font-weight: bold;
  border-radius: 10px;
}

.util-link-yellow.-active {
  background: #F18900;
}

@media screen and (min-width: 768px) {
  .util-link-yellow:not(.-submit):hover {
    background: #F18900;
    color: #fff;
  }
}

.util-link {
  font-size: 20px;
  letter-spacing: .1em;
  color: #3E3E3E;
  border: solid 1px #707070;
  background: #ffffff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
  font-family: Montserrat;
  font-weight: 600;
}

.util-link.-active {
  background: #3E3E3E;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .util-link:not(.-submit):hover {
    background: #3E3E3E;
    color: #fff;
  }
}

/*----------------------------
top
-------------------------------*/
.top {
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-picture {
    padding-top: 120%;
    background: url(../img/mv.png) center center/cover no-repeat;
    height: 667px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .top-picture {
    padding-top: 55%;
    background: url(../img/mv.png) center center/cover no-repeat;
  }
}

.top-message {
  position: absolute;
  width: 650px;
  right: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .top-message {
    width: 343px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    top: 40%;
  }
}

.top-message-title {
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top-message-title {
    font-size: 24px;
  }
}

.top-message-text {
  margin-top: 40px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top-message-text {
    font-size: 14px;
    margin-top: 32px;
  }
}

.top-footer {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .top-footer {
    margin-top: 30px;
  }
}

/*----------------------------
news
-------------------------------*/
.news {
  background: #fff;
  max-width: 80%;
  padding: 50px 40px;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .news {
    max-width: 343px;
    padding: 40px 16px;
    position: absolute;
    top: 550px;
    left: 1%;
    right: 1%;
  }
}

.news-item {
  border-top: 1px solid #CECDCD;
  padding-top: 35px;
}

.news-item:last-child {
  border-bottom: 1px solid #CECDCD;
}

/* 日付 + ラベル + タイトルをまとめたエリア */
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #707070;
  margin-bottom: 20px;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
}

.info:last-child {
  border: none;
}

.info .info-title {
  max-width: 691px;
  padding: 0 20px;
  position: relative;
}

.info .info-title a {
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .info .info-title {
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    display: block;
    overflow: visible;
    padding: 0;
  }
}

.news-arrow-icon {
  background: transparent url(../img/news-arrow-1.png) no-repeat center center/contain;
  width: 26px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .news-arrow-icon {
    left: 95%;
  }
}

/* 日付 + ラベルのエリア */
.info-meta {
  width: 291px;
  /* 固定値 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-meta .info-date {
  font-size: 18px;
  color: #3E3E3E;
  font-family: Montserrat;
}

.info-meta .info-label {
  bottom: 5px;
  background-color: #FFFFFF;
  font-size: 16px;
  width: 121px;
  height: 30px;
  border-radius: 50px;
  border: solid 2px #3B69FF;
  text-align: center;
  margin-left: 2em;
}

.info-meta a {
  text-decoration: none;
  color: #3E3E3E;
}

.news-footer {
  text-align: center;
}

.news-util-link {
  margin-top: 86px;
}

/*----------------------------
service
-------------------------------*/
.service {
  background: #3E3E3E;
  width: 100%;
  height: 400px;
  padding-top: 60px;
  margin-top: 120px;
  margin-bottom: 200px;
}

.service .util-title {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .service {
    margin-top: 760px;
    padding-top: 40px;
    height: 480px;
  }
}

.service-list {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .service-list {
    max-width: 90%;
    padding: 40px 10px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .service-list {
    margin-top: 60px;
    max-width: 80%;
    padding: 60px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .service-item + .service-item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .service-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.6%;
            flex: 0 0 27.6%;
  }
}

.service-item-picture {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.service-item-title {
  margin-top: 8px;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
}

.service-item-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

/*----------------------------
results
-------------------------------*/
.results {
  background: #3E3E3E;
  padding: 60px 0;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .results {
    margin-left: 0;
    padding: 40px 0;
    margin-top: 480px;
  }
}

.results .util-title {
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .results .util-title {
    text-align: center;
  }
}

.swiper-container {
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .swiper-container {
    padding: 0 16px;
  }
}

.swiper-container .swiper-slide {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .swiper-container .swiper-slide {
    width: 274px;
    height: 253px;
  }
}

.swiper-container .swiper-slide .results-item-link {
  display: block;
  background: #fff;
  color: #3E3E3E;
}

.swiper-container .swiper-slide .results-item-title {
  font-size: 20px;
  padding: 16px 0 16px 16px;
}

.swiper-container .swiper-slide .results-item-text {
  padding: 0 16px 16px 16px;
}

.swiper-pagination {
  margin-left: 60px;
  color: #fff;
  padding-top: 44px;
}

@media screen and (max-width: 767px) {
  .swiper-pagination {
    margin-left: 7em;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  margin-right: 20px;
  background-color: #fff;
  color: #fff;
  width: 12px;
  height: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.results-footer {
  padding: 100px 0 0 40px;
}

@media screen and (max-width: 767px) {
  .results-footer {
    padding: 100px 0 0 30px;
  }
}

.results-footer .util-link {
  color: #fff;
  background: #3E3E3E;
  border: 1px solid #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 767px) {
  .results-footer .util-link {
    padding: 16px 100px;
  }
}

.results-footer .util-link:hover {
  color: #3E3E3E;
  background: #fff;
}

/*----------------------------
price
-------------------------------*/
.price {
  max-width: 1200px;
  padding: 0 160px;
  margin-bottom: 144px;
}

@media screen and (max-width: 767px) {
  .price {
    padding: 0 16px;
    margin-bottom: 80px;
  }
}

.price .util-title {
  padding-top: 120px;
}

@media screen and (max-width: 767px) {
  .price .util-title {
    padding-top: 40px;
  }
}

.table-default {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #3E3E3E;
  background: #fff;
  table-layout: fixed;
  font-family: Montserrat;
}

.table-default th, .table-default td {
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .table-default th, .table-default td {
    padding: 16px;
  }
}

.table-default th {
  text-align: center;
  background: #3E3E3E;
  font-weight: 600;
  color: #fff;
}

.table-default th:first-child {
  width: 170px;
}

@media screen and (max-width: 767px) {
  .table-default th:first-child {
    width: 80px;
  }
}

.table-default td {
  text-align: left;
  padding-left: 40px;
  font-weight: 600;
}

.table-attention {
  font-size: 12px;
  padding-top: 12px;
}

@media screen and (max-width: 767px) {
  .table-attention {
    padding-top: 8px;
  }
}

/*----------------------------
comments
-------------------------------*/
.comments {
  margin-bottom: 0;
}

.comments-background-color {
  background: #3E3E3E 0% 0% no-repeat padding-box;
  max-width: 950px;
  padding: 250px;
  margin-top: -380px;
}

@media screen and (max-width: 767px) {
  .comments-background-color {
    margin-top: -480px;
    padding: 0 0 550px 0;
  }
}

.comments-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .comments-inner {
    padding: 0;
    margin: 0;
  }
}

.comments-main {
  background: #fff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 10px #00000029;
          box-shadow: 0px 0px 10px #00000029;
  max-width: 666px;
  padding: 120px 60px 100px 60px;
}

@media screen and (max-width: 767px) {
  .comments-main {
    padding: 40px 10px;
    width: 90%;
    margin: 0 auto;
  }
}

.comments-main .util-title {
  text-align: left;
  padding-left: 5px;
}

.comments-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.comments-body:last-child {
  margin-bottom: 0;
}

.comments-body .comments-person-picture {
  display: inline-block;
  width: 250px;
}

@media screen and (max-width: 767px) {
  .comments-body .comments-person-picture {
    width: 300px;
  }
}

.comments-body .comments-text {
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .comments-body .comments-text {
    padding-left: 20px;
  }
}

.comments-people-picture {
  width: auto;
  height: 444px;
  padding-top: 80px;
}

/*----------------------------
FAQs
-------------------------------*/
.FAQs {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  height: 952px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .FAQs {
    height: 821px;
  }
}

.FAQs h2 {
  padding-top: 60px;
}

.FAQs-items {
  width: 612px;
  max-width: 100%;
  margin-left: auto;
  padding-right: 40px;
}

.FAQs-item {
  margin-bottom: 32px;
}

.FAQs-item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .FAQs-item {
    width: 343px;
    margin-bottom: 24px;
    padding-left: 30px;
    padding-right: 0;
  }
}

.accordion-head {
  background: #fff;
  color: #3E3E3E;
  padding: 12px 72px;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.accordion-head::before {
  content: "Q";
  position: absolute;
  left: 20px;
  font-family: Montserrat;
  font-weight: 600;
  color: #fff;
  background: blue;
  padding: 2px 8px;
  border-radius: 100px;
  top: 10px;
  font-size: 15px;
}

.accordion-body {
  margin: 0;
  background: #fff;
  display: none;
  border: 1px solid #fff;
  font-weight: 700;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.accordion-body .accordion-body-in {
  margin: 16px;
  padding: 16px;
  line-height: 1.5;
  color: #3E3E3E;
  position: relative;
  font-size: 16px;
  background: #3B69FF33;
}

.accordion-icon {
  background: transparent url(../img/plus.png) no-repeat center center/contain;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-icon.is-open {
  background-image: url(../img/minus.png);
}

/*----------------------------
Access
-------------------------------*/
.access {
  margin-bottom: 250px;
}

@media screen and (max-width: 767px) {
  .access {
    height: 305px;
  }
}

.access-background-color {
  background: #3E3E3E;
  max-width: 980px;
  height: 504px;
  margin-top: -600px;
}

@media screen and (max-width: 767px) {
  .access-background-color {
    margin-top: -800px;
    height: 600px;
    width: 100%;
  }
}

.access-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .access-body {
    display: block;
  }
}

.access-body .map-left {
  margin-left: 60px;
  margin-top: 120px;
}

.access-body .map-left h2 {
  color: #FFFFFF;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .access-body .map-left h2 {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .access-body .map-left {
    margin-left: 16px;
    margin-top: 40px;
  }
}

.map-info p {
  margin-bottom: 32px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .map-link {
    margin-top: 290px;
    text-align: center;
  }
}

.map-link .util-link {
  color: #fff;
  background: #3E3E3E;
  border: 1px solid #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-family: Montserrat;
  font-weight: 600;
  padding: 16px 80px;
}

.map-link .util-link:hover {
  color: #3E3E3E;
  background: #fff;
}

.map-inframe {
  padding: 120px 0 0 100px;
  width: 800px;
  max-width: 100%;
  height: 520px;
}

@media screen and (max-width: 767px) {
  .map-inframe {
    width: 343px;
    max-width: 100%;
    padding: 24px 16px;
    margin: 0  auto;
    margin-top: -350px;
  }
}

.map-iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
  height: 520px;
}

@media screen and (max-width: 767px) {
  .map-iframe-wrap {
    height: 241px;
  }
}

.map-iframe-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*--------------------------------
contact
-------------------------------*/
.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  height: 1135px;
}

.contact .contact-inner {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 40px;
  }
}

.contact .contact-inner .contact-title {
  background: url(../img/contact1.png) no-repeat center center/cover;
  color: #fff;
  padding: 60px 0 60px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-title {
    width: 100%;
  }
}

.contact .contact-inner .contact-title h2 {
  text-align: center;
  font: normal normal 600 36px/40px Montserrat;
  margin-bottom: 16px;
}

.contact .contact-inner .contact-title p {
  text-align: center;
}

.contact-item {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 120px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .contact-item {
    padding: 20px;
    margin-top: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.contact-controls {
  margin: 0;
}

.contact-control {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact-control {
    display: block;
    margin-bottom: 24px;
  }
}

.contact-control:last-child {
  margin-bottom: 0;
}

.contact-control dt {
  width: 160px;
  padding: 6px 0 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .contact-control dt {
    width: 100%;
    padding-top: 0;
  }
}

.contact-control dd {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .contact-control dd {
    width: 120%;
    margin-top: 8px;
  }
}

.contact-label {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .contact-label {
    font-size: 16px;
    display: inline-block;
  }
}

.contact-label--required {
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact-label--required {
    padding-right: 54px;
  }
}

.contact-label--required::after {
  content: "必須";
  position: absolute;
  background: #e81919;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  padding: 5px 8px;
  margin-left: 20px;
  width: 44px;
}

@media screen and (max-width: 767px) {
  .contact-label--required::after {
    top: 50%;
    left: 70%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.contact-required {
  background: #e81919;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 1px 8px;
  width: 46px;
  display: block;
  margin-top: 6px;
}

.contact-radio {
  margin-top: 26px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contact-radio {
    margin-top: 26px;
  }
}

.contact-radio-item {
  margin-right: 32px;
}

@media screen and (max-width: 767px) {
  .contact-radio-item {
    margin-bottom: 16px;
    margin-right: 0;
    display: block;
  }
}

.contact-radio-item:last-child {
  margin-right: 0;
}

.contact-check {
  margin-top: 41px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .contact-check {
    margin-top: 24px;
  }
}

.contact-check a {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.contact-submit {
  margin-top: 41px;
  text-align: left;
}

.form-input {
  width: 100%;
  border-bottom: 1px solid #707070;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 4px 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 38px;
}

@media screen and (max-width: 767px) {
  .form-input {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 80%;
  }
}

.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url() no-repeat center right 12px/17px 14px;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 3px 16px;
  width: 25%;
  border: 1px solid #707070;
  height: 38px;
}

@media screen and (max-width: 767px) {
  .form-select {
    padding-top: 3px;
    padding-bottom: 3px;
    background-position: center right 10px;
    width: 80%;
  }
}

.form-select::-ms-expand {
  display: none;
}

.form-textarea {
  width: 100%;
  height: 240px;
  border: 1px solid #707070;
  resize: none;
  padding: 10px 16px;
  line-height: 1.625;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .form-textarea {
    height: 180px;
    width: 80%;
  }
}

.form-radio {
  display: none;
}

.form-radio + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 28px;
  position: relative;
}

.form-radio + span::before, .form-radio + span::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-radio + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
}

.form-radio + span::after {
  background: #3B69FF;
  border: 1px solid transparent;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-radio:checked + span::after {
  opacity: 1;
}

.form-button {
  text-decoration: none;
  display: inline-block;
  padding: 16px  50px;
  background: #FFAA3B;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .form-button {
    margin-left: 4em;
  }
}

.form-button:hover {
  opacity: 0.7;
}

/*--------------------------------
footer
-------------------------------*/
footer {
  height: 292px;
  background: #3E3E3E;
  color: white;
}

@media screen and (max-width: 767px) {
  footer {
    height: 398px;
  }
}

.footer-inner {
  max-width: 960px;
  margin: 0  auto;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    width: 360px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-content {
    display: block;
  }
}

.footer-left {
  width: 70%;
  margin-top: 62px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-left {
    text-align: center;
    width: 100%;
  }
}

.footer-left p {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .footer-left p {
    font-size: 14px;
    margin-bottom: 26px;
  }
}

.footer-left .footer-sns .fab {
  width: 36px;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .footer-left .footer-sns .fab {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-right {
    text-align: center;
    width: 100%;
  }
}

.footer-right h2 {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .footer-right h2 {
    margin-top: 30px;
  }
}

.footer-right .footer-copyright {
  margin-top: 10px;
  font: normal normal normal 12px/15px Montserrat;
  font-weight: 500;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer-right .footer-copyright {
    text-align: center;
    width: 100%;
  }
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 70px;
  height: 70px;
  display: none;
}

@media screen and (max-width: 767px) {
  .totop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
  }
}

.totop a:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */